@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Walter White & Jessie Pinkman<br />
        Albuquerque, US New Mexico 308 arroyo lane   - Arizona, US urban<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100 - 192.168.255
    </address>
    <address>
        <strong>Walter White:</strong>   <a href="mailto:Support@example.com">walterwhite@gmail.com</a><br />
        <strong>Jessie Pinkman:</strong> <a href="mailto:Marketing@example.com">jessiepinkman@example.com</a>
    </address>
</main>