
@{
    ViewBag.Title = "Hot";
}

<h2>Best Seller!!! Greatest Deals Ever!!! First Come First Server!!!</h2>

<div>
    <div class="row">
        <p>
            @Html.ActionLink("Best of the best of the best, yessir","Index","OrderDetails")
        </p>
    </div>
</div>

<style>
    .row{
        font-size: 30px;
    }
</style>
