@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Shopping? Better call Saul!!!</h1>
        <p class="lead">
            Hey there, shoppers! Are you tired of getting ripped off by those big-box stores with their high prices and low-quality goods? Well, have no fear because Saul Goodman is here to save the day!

            <br />Introducing the one-stop-shop for all your shopping needs: "Shop with Saul." We've got everything from top-of-the-line electronics to trendy fashion apparel, and all at prices that won't break the bank.

            <br />Don't settle for mediocre merchandise and inflated prices any longer. Trust me, Saul Goodman, to lead you to the promised land of affordable, quality goods. So come on down to "Shop with Saul" and let us make your shopping experience a happy one. Remember, I don't just talk the talk, I walk the walk.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/Saul_Goodman" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section> 

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Lead of Security</h2>
            <p>
                Listen up. You want security? You want the best? Then you've come to the right place. I'm Mike Ehrmantraut and I'm here to introduce you to the Security Force.

                <br />We're not your run-of-the-mill security team. We've got the skills, the experience, and the know-how to handle any situation, no matter how tough. From private residences to high-end corporate events, we've got you covered.

                <br />Our team is made up of only the best and most trusted professionals in the business. And we don't just rely on muscle, we've got the latest technology to ensure your safety and peace of mind.

                <br />So don't take any chances with your security. Go with the pros at the Security Force. We'll make sure you're protected, no matter what.
            </p>
            <p><a class="btn btn-outline-dark" href="https://en.wikipedia.org/wiki/Mike_Ehrmantraut">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">About our production</h2>
            <p>
                Yo, yo, yo! It's your boy Tuco, and I'm here to tell you about the best damn beverages and ice cream you've ever tasted. You feeling thirsty? You feeling like something sweet and creamy? Well, have I got the stuff for you!

                <br />First up, we've got the coldest, most refreshing beverages you've ever had. We're talking ice-cold sodas, smoothies, and energy drinks that will keep you going all day long. You want flavor? We've got it in spades. From classic cola to fruity flavors that'll make your taste buds dance.

                <br />And don't even get me started on our ice cream. We've got all the classics, plus some flavors you've never even heard of. Strawberry, chocolate, and vanilla? Yeah, we got those. But have you ever tried our cinnamon roll ice cream? Or our peanut butter and jelly swirl? Trust me, you'll never look at ice cream the same way again.

                <br />So come on down to Tuco's and treat yourself to some of the best beverages and ice cream in the game. And if you don't believe me, just ask my man Walter White. He knows what's up.
            </p>
            <p><a class="btn btn-outline-dark" href="https://en.wikipedia.org/wiki/Raymond_Cruz">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Lead of Staff</h2>
            <p>
                Good afternoon, shoppers. My name is Gus Fring and I am the proud owner of this shopping mall. I want to take a moment to introduce you to the dedicated and hardworking individuals who make your shopping experience here exceptional.

                <br />First, I must acknowledge our security team. They are the first line of defense in ensuring the safety of our customers and their property. They work tirelessly to maintain a safe and secure environment for everyone who enters our mall.

                <br />Secondly, I must acknowledge our cleaning crew. They work behind the scenes to keep our mall spotless and inviting. They clean the floors, windows, and restrooms to ensure that our mall is always clean and presentable.

                <br />Next, I must acknowledge our customer service representatives. They are the friendly faces you see as soon as you enter our mall. They provide assistance with everything from directions to stores to resolving any issues or concerns that you may have during your visit.

                <br />Finally, I must acknowledge our maintenance team. They work hard to keep our mall running smoothly. From fixing broken escalators to ensuring that our heating and cooling systems are functioning properly, they ensure that our mall is always up and running.

                <br />So there you have it, shoppers, the dedicated and hardworking team that makes your shopping experience at this mall possible. Please join me in thanking them for their tireless efforts to make your visit enjoyable and productive.
            </p>
            <p><a class="btn btn-outline-dark" href="https://en.wikipedia.org/wiki/Gus_Fring">Learn more &raquo;</a></p>
        </section>
    </div>
</main>